<app-header-title>
  <span class="material-symbols-outlined"> person_add </span>
  <span>Gestionar entrenadores</span>
</app-header-title>

<span>
  En este modulo podras editar, inactivar y filtrar a los entrenadores del club
</span>

<table class="table table-hover" cdk-table [dataSource]="trainers$">
  <ng-container cdkColumnDef="nombres">
    <th cdk-header-cell *cdkHeaderCellDef>Nombres y Apellidos</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.nombres }}</td>
  </ng-container>
  <ng-container cdkColumnDef="numeroDocumento">
    <th cdk-header-cell *cdkHeaderCellDef>Documento</th>
    <td cdk-cell *cdkCellDef="let element">
      {{ element.tipoDocumento }} {{ element.numeroDocumento }}
    </td>
  </ng-container>
  <ng-container cdkColumnDef="estado">
    <th cdk-header-cell *cdkHeaderCellDef>Estado</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.estado }}</td>
  </ng-container>
  <ng-container cdkColumnDef="categoria">
    <th cdk-header-cell *cdkHeaderCellDef>Categoria</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.categoria }}</td>
  </ng-container>
  <ng-container cdkColumnDef="opciones">
    <th cdk-header-cell *cdkHeaderCellDef>Opciones</th>
    <td cdk-cell *cdkCellDef="let element">
      <section class="d-flex gap-1">
        <button
          class="btn btn-outline-danger"
          title="Eliminar entrenador"
          appIconButton
          (click)="onDelete()"
        >
          delete
        </button>
        <a
          appIconButton
          title="Editar entrenador"
          [routerLink]="[appRoutes.TrainerEdit]"
        >
          edit
        </a>
      </section>
    </td>
  </ng-container>
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
