<ui-header-title>
  <span class="material-symbols-outlined"> person_add </span>
  <span>Contratar entrenador</span>
</ui-header-title>

<span>
  En este formulario podras <strong> contratar un entrenador</strong>, recuerda
  subir el contrato firmado por el entrenador
</span>

<section>
  <ui-header-subtitle> Informacion general </ui-header-subtitle>
  <ui-user-general-info>
    <ui-control-input attrFor="contrato">
      <label>Cargar contrato</label>
      <input type="file" [formControl]="contract" accept="application/pdf" />
    </ui-control-input>
  </ui-user-general-info>
</section>

<section>
  <ui-header-subtitle> Informacion residencia </ui-header-subtitle>
  <ui-address-info> </ui-address-info>
</section>

<section>
  <ui-header-subtitle>Informacion tutor </ui-header-subtitle>
  <ui-tutor-info></ui-tutor-info>
</section>

<footer class="d-flex gap-2 justify-content-end">
  <button class="btn btn-outline-danger">Cancelar</button>
  <button class="btn btn-primary" (click)="create()">
    Contratar entrenador
  </button>
</footer>
