<app-header-title>
  <span class="material-symbols-outlined"> person_add </span>
  <span>Registrar Deportista</span>
</app-header-title>

<span>
  En este formulario podras agregar un nuevo deportista, recuerda que solo se
  debe crear un deportista, este debe estar a paz y salvo con todos los pagos
</span>

<section>
  <app-header-subtitle> Informacion general </app-header-subtitle>
  <app-user-general-info></app-user-general-info>
</section>

<section>
  <app-header-subtitle> Informacion residencia </app-header-subtitle>
  <app-address-info></app-address-info>
</section>
