<app-header-title>
  <span class="material-symbols-outlined"> person_add </span>
  <span>Gestionar deportistas</span>
</app-header-title>

<span>
  En este modulo podras editar, inactivar y filtrar a los deportista del club
</span>

<table class="table table-hover" cdk-table [dataSource]="athletes$">
  <ng-container cdkColumnDef="nombres">
    <th cdk-header-cell *cdkHeaderCellDef>Nombres y Apellidos</th>
    <td cdk-cell *cdkCellDef="let element">{{ element.nombres }}</td>
  </ng-container>
  <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator
  [pageSizeOptions]="[]"
  [length]="100"
  [pageSize]="10"
  itemsPerPageLabel="items por pagina"
>
</mat-paginator>
